/* footer */

footer {
    background-color: $color-claro;
    margin-top: 30px;

    h3 {
        @include fonts(400, $color-blanco);
        font-size: 20px;
    }
}

.card-footer {
    padding: 20px;
}

.redes {
    cursor: pointer;
    margin-right: 10px;
    text-align: left;
}

.text-footer {
    text-align: right;
}