/* header */

header {
    background-color: $color-blanco;
}

.menu {
    &-logo {
        width: 100px;
        display: inline-block;
        text-align: left;
    }
}

.navbar {
    &-nav {
        .nav-link {
            @include fonts(bold, $color-claro);

            &:active {
                color: $color-oscuro;
            }

            &:hover {
                color: $color-oscuro;
            }

            &.active {
                color: $color-oscuro;
            }
        }

    }
}