$proyect-fonts: 'Lato', sans-serif;

$color-oscuro: #9c4527;
$color-blanco: #ffffff;
$color-claro: #bc745c;

//mapas
$size-text: (
    text-p: 20px,
    text-input-textarea: 16px,
    text-btn: 18px
);